<section id="about">
    <div class="container">
        <div class="section-row">
            <div class="section-col section-col-2 about-description">
                <div class="title title-left">About us</div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor it in lorei voluptate velit esse cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.
                </p>
            </div>
            <div class="section-col section-col-2">
                <div class="about-carousel owl-carousel">
                    <div class="about-carousel-item"><img src="images/bg-carousel-item-1.png" alt=""></div>
                    <div class="about-carousel-item"><img src="images/bg-carousel-item-1.png" alt=""></div>
                    <div class="about-carousel-item"><img src="images/bg-carousel-item-1.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>