<section id="features">
    <div class="container">
        <div class="section-row">
            <div class="section-col section-col-4">
                <div class="features-icon">
                    <img src="images/icon-1.png" alt="">
                </div>
                <div class="features-title">IMPROVED OVERALL
                    HEALTH</div>
                <div class="features-description">Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.</div>
            </div>
            <div class="section-col section-col-4">
                <div class="features-icon">
                    <img src="images/icon-2.png" alt="">
                </div>
                <div class="features-title">INCREASED
                    CONCENTRATION</div>
                <div class="features-description">Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.</div>
            </div>
            <div class="section-col section-col-4">
                <div class="features-icon"
                ><img src="images/icon-3.png" alt="">
                </div>
                <div class="features-title">BLANCE
                    YOUR MIND</div>
                <div class="features-description">Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.</div>
            </div>
            <div class="section-col section-col-4">
                <div class="features-icon">
                    <img src="images/icon-4.png" alt="">
                </div>
                <div class="features-title">SLEEP
                    BETTER</div>
                <div class="features-description">Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.</div>
            </div>
        </div>
        <div class="section-row">
            <div class="section-col section-col-4">
                <div class="features-icon">
                    <img src="images/icon-5.png" alt="">
                </div>
                <div class="features-title">WEIGHT LOSS</div>
                <div class="features-description">Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.</div>
            </div>
            <div class="section-col section-col-4">
                <div class="features-icon">
                    <img src="images/icon-6.png" alt="">
                </div>
                <div class="features-title">STRENGTHENS
                    YOUR BONES</div>
                <div class="features-description">Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.</div>
            </div>
            <div class="section-col section-col-4">
                <div class="features-icon">
                    <img src="images/icon-7.png" alt="">
                </div>
                <div class="features-title">INCREASED
                    FLEXIBILITY</div>
                <div class="features-description">Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.</div>
            </div>
            <div class="section-col section-col-4">
                <div class="features-icon">
                    <img src="images/icon-8.png" alt="">
                </div>
                <div class="features-title">LOWER BLOOD
                    PRESSURE</div>
                <div class="features-description">Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.</div>
            </div>
        </div>
    </div>
</section>