<section id="footer" class="footer">
    <div class="container">
        <div class="section-row">
            <div class="section-col section-col-2">
                <div class="footer-title title">About</div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="fooler-social-list">
                    <div class="footer-social-item">
                        <a href="" class="footer-social-link"><i class="fa"></i></a>
                    </div>
                </div>
            </div>
            <div class="section-col section-col-2">
                <div class="footer-title title">CONTACT US</div>
                <div class="footer-contact-list">
                    <div class="section-row">
                        <div class="footer-contact-item section-col section-col-2">
                            <div class="footer-contact-icon"><img src="images/icon-placeholder.png" alt=""></div>
                            <div class="footer-contact-description">
                                5419 Joseph Mountains
                                Apt. 716
                            </div>
                        </div>
                        <div class="footer-contact-item section-col section-col-2">
                            <div class="footer-contact-icon"><img src="images/icon-envelope.png" alt=""></div>
                            <div class="footer-contact-description">
                                <a href="mailto:joga.info@example.com"> joga.info@example.com</a>

                            </div>
                        </div>
                    </div>
                    <div class="section-row">
                        <div class="footer-contact-item section-col section-col-2">
                            <div class="footer-contact-icon"><img src="images/icon-phone-call.png" alt=""></div>
                            <div class="footer-contact-description">
                                <a class="footer-contact-description-link " href="tel:123456789">+1 234 567 89</a>
                                <a class="footer-contact-description-link " href="tel:123467890">+1 234 678 90</a>
                            </div>
                        </div>
                        <div class="footer-contact-item section-col section-col-2">
                            <div class="footer-contact-icon"><img src="images/icon-planet.png" alt=""></div>
                            <div class="footer-contact-description">
                                <a href="www.example.com">www.example.com</a>
                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>
</section>