<section id="gallery">
    <ul class="gallery-list">
        <li class="gallery-item">
            <img src="images/bg-gallery-item-1.png" alt="">
            <span class="gallery-item-hover"><i class="fa fa-search"></i></span>
        </li>
        <li class="gallery-item">
            <img src="images/bg-gallery-item-2.png" alt="">
            <span class="gallery-item-hover"></span>
        </li>
        <li class="gallery-item">
            <img src="images/bg-gallery-item-3.png" alt="">
            <span class="gallery-item-hover"></span>
        </li>
        <li class="gallery-item">
            <img src="images/bg-gallery-item-4.png" alt="">
            <span class="gallery-item-hover"></span>
        </li>
        <li class="gallery-item">
            <img src="images/bg-gallery-item-5.png" alt="">
            <span class="gallery-item-hover"></span>
        </li>
        <li class="gallery-item">
            <img src="images/bg-gallery-item-6.png" alt="">
            <span class="gallery-item-hover"></span>
        </li>
        <li class="gallery-item">
            <img src="images/bg-gallery-item-7.png" alt="">
            <span class="gallery-item-hover"></span>
        </li>
        <li class="gallery-item">
            <img src="images/bg-gallery-item-8.png" alt="">
            <span class="gallery-item-hover"></span>
        </li>
    </ul>
</section>