<section>
    <header>
        <div class="container">

            <ul class="navigation-list-left navigation-list">
                <li class="navigation-item">
                    <a href="#about" class="navigation-link active">About us  </a>
                </li>
                <li class="navigation-item">
                    <a href="#reservation" class="navigation-link">Reservation  </a>
                </li>
                <li class="navigation-item">
                    <a href="#gallery" class="navigation-link"> Gallery</a>
                </li>
            </ul>
            <div class="logo-wrapper">
                <img class="logo-images" src="images/logo.png" alt="logo-yoga">
                <div class="logo-text">yoga</div>
            </div>
            <ul class="navigation-list-right navigation-list">
                <li class="navigation-item">
                    <a href="#blog" class="navigation-link">Blog</a>
                </li>
                <li class="navigation-item">
                    <a href="#elements" class="navigation-link">Elements</a>
                </li>
                <li class="navigation-item">
                    <a href="#shop" class="navigation-link">Shop</a>
                </li>
            </ul>

        </div>
    </header>
</section>