<section id="prices">
    <div class="container">
        <div class="section-row">
            <div class="section-col section-col-3 ">
                <div class="prices-item">
                    <div class="prices-title">
                        <div class="prices-title-currency">$</div>
                        <div class="prices-title-sum">49</div>
                        <div class="prices-title-period">/month</div>
                    </div>
                    <div class="prices-description-list">
                        <div class="prices-description-item">ENTRY DATE: MON – FRI</div>
                        <div class="prices-description-item">ENTRY TIME: 8A.M – 8P.M</div>
                        <div class="prices-description-item">NUTRITION ADVICER: NO</div>
                    </div>
                    <div class="prices-button btn">Buy now</div>
                </div>
            </div>
            <div class="section-col section-col-3 ">
                <div class="prices-item">
                    <div class="prices-title">
                        <div class="prices-title-currency">$</div>
                        <div class="prices-title-sum">49</div>
                        <div class="prices-title-period">/month</div>
                    </div>
                    <div class="prices-description-list">
                        <div class="prices-description-item">ENTRY DATE: MON – FRI</div>
                        <div class="prices-description-item">ENTRY TIME: 8A.M – 8P.M</div>
                        <div class="prices-description-item">NUTRITION ADVICER: NO</div>
                    </div>
                    <div class="prices-button btn">Buy now</div>
                </div>
            </div>
            <div class="section-col section-col-3 ">
                <div class="prices-item">
                    <div class="prices-title">
                        <div class="prices-title-currency">$</div>
                        <div class="prices-title-sum">49</div>
                        <div class="prices-title-period">/month</div>
                    </div>
                    <div class="prices-description-list">
                        <div class="prices-description-item">ENTRY DATE: MON – FRI</div>
                        <div class="prices-description-item">ENTRY TIME: 8A.M – 8P.M</div>
                        <div class="prices-description-item">NUTRITION ADVICER: NO</div>
                    </div>
                    <div class="prices-button btn">Buy now</div>
                </div>
            </div>
        </div>
        <div class="prices-carousel">
            <div class="prices-carousel-item"></div>
        </div>
    </div>
</section>