<section id="prices">
    <div class="container">
        <div class="section-row">
            <div class="section-col section-col-3 ">
                <div class="prices-item">
                    <div class="prices-title">
                        <div class="prices-title-currency">$</div>
                        <div class="prices-title-sum">49</div>
                        <div class="prices-title-period">/month</div>
                    </div>
                    <div class="prices-description-list">
                        <div class="prices-description-item">ENTRY DATE: MON – FRI</div>
                        <div class="prices-description-item">ENTRY TIME: 8A.M – 8P.M</div>
                        <div class="prices-description-item">NUTRITION ADVICER: NO</div>
                    </div>
                    <div class="prices-button btn">Buy now</div>
                </div>
            </div>
            <div class="section-col section-col-3 ">
                <div class="prices-item">
                    <div class="prices-title">
                        <div class="prices-title-currency">$</div>
                        <div class="prices-title-sum">49</div>
                        <div class="prices-title-period">/month</div>
                    </div>
                    <div class="prices-description-list">
                        <div class="prices-description-item">ENTRY DATE: MON – FRI</div>
                        <div class="prices-description-item">ENTRY TIME: 8A.M – 8P.M</div>
                        <div class="prices-description-item">NUTRITION ADVICER: NO</div>
                    </div>
                    <div class="prices-button btn">Buy now</div>
                </div>
            </div>
            <div class="section-col section-col-3 ">
                <div class="prices-item">
                    <div class="prices-title">
                        <div class="prices-title-currency">$</div>
                        <div class="prices-title-sum">49</div>
                        <div class="prices-title-period">/month</div>
                    </div>
                    <div class="prices-description-list">
                        <div class="prices-description-item">ENTRY DATE: MON – FRI</div>
                        <div class="prices-description-item">ENTRY TIME: 8A.M – 8P.M</div>
                        <div class="prices-description-item">NUTRITION ADVICER: NO</div>
                    </div>
                    <div class="prices-button btn">Buy now</div>
                </div>
            </div>
        </div>
        <div class="prices-carousel owl-carousel">
            <div class="prices-carousel-item">
                <div class="prices-carousel-author"><img src="images/icon-author.png" alt=""></div>
                <div class="prices-carousel-description">
                    <div class="prices-carousel-description-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </div>
                    <div class="prices-carousel-description-author">Trainer
                        <div class="prices-carousel-description-author-name">
                            Laura Shepard
                        </div>
                       </div>
                    <div class="prices-carousel-description-trainer">
                        <div class="prices-carousel-description-trainer-logo"><img src="images/icon-author-2.png" alt=""></div>
                        <div class="prices-carousel-description-trainer-name">Sara Taylor</div>
                        <div class="prices-carousel-description-trainer-data">Trainer</div>
                    </div>
                </div>

            </div>
            <div class="prices-carousel-item">
                <div class="prices-carousel-author"><img src="images/icon-author.png" alt=""></div>
                <div class="prices-carousel-description">
                    <div class="prices-carousel-description-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </div>
                    <div class="prices-carousel-description-author">Trainer
                        <div class="prices-carousel-description-author-name">
                            Laura Shepard
                        </div>
                       </div>
                    <div class="prices-carousel-description-trainer">
                        <div class="prices-carousel-description-trainer-logo"><img src="images/icon-author-2.png" alt=""></div>
                        <div class="prices-carousel-description-trainer-name">Sara Taylor</div>
                        <div class="prices-carousel-description-trainer-data">Trainer</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>