<section id="programs">
    <div class="container">
        <div class="title">Yoga FEATURE PROGRAM</div>
        <div class="section-description">Our Classes</div>
        <div class="section-row">
            <div class="section-col-2 section-col">
                <div class="program-item">
                    <div class="program-images"><img src="images/bg-program-item-1.png" alt=""></div>
                    <div class="program-description-wrapper">
                        <div class="program-item-title">Yoga For Health</div>
                        <div class="program-item-description">
                            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                        <div class="program-item-qualification">Ashtanga - Hatha</div>
                    </div>
                </div>
            </div>
            <div class="section-col section-col-2">
                <div class="program-item">
                    <div class="program-images"><img src="images/bg-program-item-2.png" alt=""></div>
                    <div class="program-description-wrapper">
                        <div class="program-item-title">Yoga For Health</div>
                        <div class="program-item-description">
                            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                        <div class="program-item-qualification">Ashtanga - Hatha</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-row">
            <div class="section-col section-col-2">
                <div class="program-item">
                    <div class="program-images"><img src="images/bg-program-item-3.png" alt=""></div>
                    <div class="program-description-wrapper">
                        <div class="program-item-title">Yoga For Health</div>
                        <div class="program-item-description">
                            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                        <div class="program-item-qualification">Ashtanga - Hatha</div>
                    </div>
                </div>
            </div>
            <div class="section-col section-col-2">
                <div class="program-item">
                    <div class="program-images"><img src="images/bg-program-item-4.png" alt=""></div>
                    <div class="program-description-wrapper">
                        <div class="program-item-title">Yoga For Health</div>
                        <div class="program-item-description">
                            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </div>
                        <div class="program-item-qualification">Ashtanga - Hatha</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>