body, ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
*{
  box-sizing: border-box;
}
input, select{
  width: 100%;
  background: transparent;
}
@font-face {
  font-family: 'Champagne';
  src:url('../fonts/Champagne & Limousines Bold.ttf');
}
@font-face {
  font-family: 'FreestyleScript';
  src:url('../fonts/FreestyleScript.ttf');
}
$text-color:#555;
$hover-color:#5363db;
$background-color:#f2f2f2;
.container{
  max-width: 1700px;
  width: 80%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
//header
.logo-wrapper, .navigation-list{
  float: left;
  text-align: center;
  width: 16.66%;
  vertical-align: middle;
}
.logo{
  &-text{
    text-transform: uppercase;
    font-size:24px;
    color:$hover-color;
    line-height: 1;
    font-family:'Champagne';
    margin-top: -15px;
  }
}
.navigation{
  &-list{
    width: 41.6%;
  }
  &-item{
    padding: 40px 10px;
    display: inline-block;
    text-align: center;
  }
  &-link{
    font-size: 14px;
    color:$text-color;
    font-weight: 600;

    &:hover, &.active{
      color:$hover-color;
      &:after{
        content:'';
        display: block;
        width: 30px;
        height: 2px;
        background: $hover-color;
        margin: auto;
      }
    }

  }
}
//contact form
.contact{
  &-form{
    clear:both;
    background: url('../images/bg-contact-form.png') center center;
    background-size: cover;
    overflow: hidden;
    &-wrapper{
      width: 300px;
      background: #ffffff;
      border-radius:15px;
      float: left;
      padding: 30px;
      font-weight:600;
      margin: 40px 40px 40px 60px;
      &:after{
        content:'';
        height: 1px;
        display: block;
        clear: both;
      }
    }
    &-button{
      width: 75%;
      float: right;
      margin-top: 20px;
    }
    &-title{
      font-size: 26px;
      color:$hover-color;
      padding-bottom: 15px;
    }
  }
  &-title{
    font-size: 48px;
    line-height: 1;
    color:#fff;
    font-weight: 600;
    padding-top: 150px;
  }
  &-description{
    font-family: 'FreestyleScript';
    font-size: 40px;
    color:#fff;
    padding-bottom: 150px;
  }
}
.form-control{
  margin: 10px 0;
  border:1px solid transparent;
  padding: 15px;
  background: $background-color;
  border-radius:10px;
  color:#888;
}
.btn{
  background: $hover-color;
  color:#fff;
  font-weight: 600;
  padding: 15px;
  font-size: 16px;

  border:none;
  border-radius:10px;
}
.title{
  font-size: 30px;
  text-transform: uppercase;
  color:$hover-color;
  font-weight: 600;
  text-align: center;
}
.section{
  &-description{
    font-size: 40px;
    font-family: 'FreestyleScript';
    text-align: center;
    color:#777;
  }
  &-row{
    margin: 0 15px;
    clear:both;

  }
  &-col{
    padding: 15px;
    float: left;
    &-2{
      width: 50%;
    }
  }
}
//programs
#programs{
  padding: 60px 0;
}
.program{
  &-item{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #ccc;
    padding: 40px 10px 40px 50px;
    &-title{
      font-size: 20px;
      font-weight: 600;
      color:#777;
      text-transform: uppercase;
    }
    &-description{
      font-size: 14px;
      color:$text-color;
      padding: 10px 0;
    }
    &-qualification{
      font-size: 14px;
      color:#999;
    }
  }
  &-images{
    width: 60%;
    float:left;
    margin:-30px 10% -45px -50px;
  }
}